li a{
    color: #7a7b7b;
}
body{
    color: #7a7b7b;
}
header{
    background-image: url(./img/bg-main-content.jpg);
    background-size: cover;
    height: 950px;
    font-family: sans-serif;
}
.titulo h1, h2{
    margin-top: 50px;
    margin-bottom: 50px;
}
.blackout{
    margin-top: 97px;
}
.telaDesktop{
    margin-top: 100px;
}
/*IMAGEM RESPONSIVA COM MEDIA QUERY*/
@media (max-width: 1199px) {
    .smartPhone img{
        margin: 0 auto;
        max-width: 306px;
    }
}
@media (max-width: 1028px) {
    .coinBox{
        position: relative;
        right: -42px;
    }
    .smartPhone img{
        max-width: 200px;
        max-height: 300px;
        position: relative;
        right: -70px
    }
}
[data-buttom="buttom"]{
    display: none;
    }

@media (max-width: 767.98px) {
    .nav{
        display: none;
    }
    .nav.ativado{
        display: flex;
        animation-duration: 3s;
        animation-name: navAnimation;
    }
    @keyframes navAnimation {
        from{
            transform: translate3d(0, 70px, 0);
        }
        to{
            transform: translate3d(0, 0, 0);
        }
    }
    [data-buttom="buttom"]{
        display: flex;
        border: none;
        }
    [data-buttom="buttom"]::before{
        margin-right: 4px;
        content: '';
        display: inline-block;
        height: 2px;
        width: 12px;
        background: #000;
        box-shadow: 0 4px #000, 0 -4px #000;
        transition: transform .3s;
        position: relative;
        top: 9px;
        }
        [data-buttom="buttom"].ativado::before{
            transform: rotate(-90deg);
        }
    body{
        background: linear-gradient(#ecedef, #fff);
    }
    header{
        background: transparent;
        background-image: none;
    }
    .apresentacao{
        margin-top: -399px;
    }
    
    .smartPhone{
        display: none;
    }
    .coinBox img{
        max-height: 150px;
        max-width: 150px;
    }
    .telaDesktop{
        display: none;
    }
    
    .blackout{
        margin-top: 25px;
    }
   
}
@media (min-width: 768px) {
    .telaDesktop{
        display: block;
    }
} 

.smartPhone img{
    margin: 0 auto;
}
.ladoEsquerdo{
    display: block;
}
.coinBox{
    display: flex;
    align-items:center;
}
.texto{
position: relative;

}
.products img{
    max-width: 268px;
    max-height: 268px;
    position: relative;
    
}
.iconeMobile{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.telaMobile{
    display: none;
    background: transparent;
}
.productContaint{
    text-align: center;
}
.sapato:hover{
    border: solid 1px #7a7b7b;
}
.conheca{
    background: red;
    color: white;
    width: 268px;
    margin: 0 auto;
    font-family:sans-serif ;
}

